body{
    
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:aliceblue;
    background-color: rgb(172, 172, 172);
    justify-content: center;
}

main{
    margin-top: 100px;
}

nav li {
    border: 0px solid white;
    display: inline-flex;

    align-items: center;

    top:0px;
    overflow: auto; 
    margin-inline: 5px;
    justify-content: center;
    align-items: center;
    width: 100px;
}
ul{
    padding: 0 0 0 0 ;
    
}

nav ul{
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;




}


nav{
    display:flex;
    position: fixed;
    width: 100%;
    height:50px;
    top: 0;
    left: 0;
    background-color: rgb(122, 122, 122);
    color: white;
    font-family: 'Exo 2', sans-serif;
    padding: 1em;
    overflow: auto;
    justify-content: center;
    align-items: center;
}


#container{
    top:400px;
    display: flex;
    border:3px outset rgb(198, 198, 198);
    align-items: center;
    margin: 30px 30px;
    padding: 40px;
    flex-wrap: wrap;
    width:70%;

    justify-content: center;
    
    

}

button{
    display: flex;
    justify-content: center;
    margin: 20px;
}

div{
    display: flex;
    flex-direction: column;
    
}

#innerContainer{
    

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    align-items: center;
}

#showLater{
    display:flex;
    justify-content: center;
    align-items: center;
}

#defaultShow{
    display: flex;
    justify-items: center;
    align-items: center;
}

#hidingButton{
    display: flex;
    align-content: center;
}



h1{
    text-align: center;
}


#send{
    background-color: red;
}

input[value]{
    color: rgb(132, 132, 132);
}

 #showButton{
    padding:15px;
}

#hidingButton{
    padding:15px;
}


li{
    list-style: none;
    border:2px inset rgb(214, 213, 213);
    display: flex;
    align-items: center;
}


img{
    margin: 0px 0px
}

form{
    margin: 4px
}

span{

    top:200px;
    
    
}

#firstli{

    margin:5px;
    display: flex;
    align-items: center;

    position: relative;

}

#firstspan{
    top:20px;
    align-items: center;
    justify-content: center;


}

button{
    border: 4px outset pink;
}

.background{
    background-image: url('cat-texting.gif');
    background-repeat: no-repeat;
    flex-shrink: 1;
    background-position:bottom;
    


    

}

#textingGIF {
    display:flex;
    flex-wrap: wrap;
    resize: none;
    height:150px;
    width:auto;
}

#submit{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
    
}


#first{
    height:40px;
}

#second{
    height: 40px;
}

#third{
    height: 40px;
}

a{
    color:white;
    text-decoration: none;
}
